* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #070707;
  color: white;
  text-decoration: none;
  font-family: Sen;
  font-style: normal;
}
body div.container {
  max-width: 1440px;
  margin: 0 auto;
  background-color: black;
}
body div.container header {
  position: absolute;
  padding: 0 calc(20px + 52 * ((100vw - 360px) / (1440 - 360)));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  z-index: 3;
}
body div.container header div {
  height: 24px;
}
body div.container header div img {
  width: 78.429px;
  height: 24px;
}
body div.container header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: end;
}
body div.container header nav button {
  padding: calc(12px + 20 * ((100vw - 361px) / (1440 - 361))) calc(12px + 12 * ((100vw - 361px) / (1440 - 361)));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
body div.container header nav button a {
  color: white;
  text-decoration: none;
  font-family: Sen;
  font-size: calc( min(10px + 6 * ((100vw - 360px) / (768 - 360)), 16px) );
  font-weight: 400;
  line-height: 150%;
  /* 24px */
}
body div.container header nav button.bars {
  display: none;
}
body div.container header nav button:hover {
  background-color: #5221e6;
}
@media screen and (max-width: 360px) {
  body div.container header nav button.nav_btn {
    display: none;
  }
  body div.container header nav button.bars {
    padding-right: 0;
    display: block;
    color: white;
  }
}
body div.container main section.main_screen {
  position: relative;
}
body div.container main section.main_screen img.background_grey {
  position: absolute;
  background-repeat: repeat-y;
  top: 0;
  right: 0;
  max-width: 62.5%;
  height: 100%;
  z-index: 0;
}
body div.container main section.main_screen div.portrait {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: calc( min(48px + 118 * ((100vw - 360px) / (1440 - 360)), 166px) ) 0px 84px;
}
body div.container main section.main_screen div.portrait img.main,
body div.container main section.main_screen div.portrait .plane {
  width: 52%;
  max-height: 650px;
  max-width: 750px;
  z-index: 2;
  -o-object-fit: cover;
     object-fit: cover;
}
body div.container main section.main_screen div.portrait img.plane {
  display: none;
}
@media screen and (max-width: 960px) {
  body div.container main section.main_screen div.portrait img.background_grey {
    display: none;
  }
  body div.container main section.main_screen div.portrait img.plane {
    display: block;
  }
  body div.container main section.main_screen div.portrait img.main {
    display: none;
  }
}
@media screen and (max-width: 360px) {
  body div.container main section.main_screen div.portrait img.background_grey {
    display: none;
  }
  body div.container main section.main_screen div.portrait img.plane {
    display: none;
  }
  body div.container main section.main_screen div.portrait img.main {
    display: block;
    width: 100%;
    max-height: 288px;
  }
}
body div.container main section.main_screen div.portrait h2 {
  position: relative;
  left: -3.5vw;
  max-width: calc(55vw);
  font-size: calc( min(32px + 46 * ((100vw - 360px) / (1440 - 360)), 78px) );
  font-weight: 700;
  z-index: 2;
}
body div.container main section.main_screen div.portrait h2 span {
  color: rgba(255, 255, 255, 0.5);
}
body div.container main section.main_screen div.portrait h2 p {
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  /* 27px */
}
@media screen and (max-width: 1440px) {
  body div.container main section.main_screen div.background_grey {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}
@media screen and (max-width: 768px) {
  body div.container main section.main_screen div.background_grey {
    display: none;
  }
}
@media screen and (max-width: 360px) {
  body div.container main section.main_screen div.portrait {
    display: block;
    padding-bottom: 48px;
  }
  body div.container main section.main_screen div.portrait img {
    width: 100vw;
  }
  body div.container main section.main_screen div.portrait h2 {
    margin: 0;
    max-width: 100%;
    position: static;
    padding: 48px calc(20px + 52 * ((100vw - 360px) / (1440 - 360)));
  }
  body div.container main section.main_screen div.portrait h2 p {
    padding-top: 16px;
  }
}
body div.container main section.experience {
  display: inline-block;
  padding: calc(48px + 72 * ((100vw - 360px) / (1440 - 360))) calc(20px + 52 * ((100vw - 360px) / (1440 - 360)));
}
body div.container main section.experience h6 {
  font-size: 16px;
  font-weight: 700;
  color: #8491a0;
  padding-bottom: 8px;
}
body div.container main section.experience h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 690px;
  color: white;
  font-size: calc(32px + 23 * ((100vw - 360px) / (1440 - 360)));
  font-weight: 700;
}
body div.container main section.experience div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px;
}
body div.container main section.experience div div {
  display: block;
  width: 30%;
}
body div.container main section.experience div div h3 {
  font-size: 117px;
  font-weight: 400;
  color: #8491a0;
}
body div.container main section.experience div div h4 {
  font-size: 24px;
  font-weight: 700;
}
body div.container main section.experience div div h4 span.google {
  color: #3cc74e;
}
body div.container main section.experience div div h4 span.facebook {
  color: #609bff;
}
body div.container main section.experience div div h4 span.dribbble {
  color: #e95d90;
}
body div.container main section.experience div div p {
  font-size: 16px;
  font-weight: 400;
  color: #8491a0;
}
@media screen and (max-width: 536px) {
  body div.container main section.experience div div {
    width: 45%;
  }
}
@media screen and (max-width: 360px) {
  body div.container main section.experience div div {
    width: 100%;
  }
}
body div.container main section.philosophy-values {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
body div.container main section.philosophy-values div {
  background: #fff3e4;
  height: 600px;
  max-width: 50%;
}
body div.container main section.philosophy-values div div {
  max-width: 100%;
  padding: calc( min(48px + 72 * ((100vw - 360px) / (1440 - 360)), 120px) ) calc(20px + 52 * ((100vw - 360px) / (1440 - 360)));
}
body div.container main section.philosophy-values div div h2 {
  color: #181823;
  font-size: calc( min(32px + 23 * ((100vw - 360px) / (768 - 360)), 55px) );
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
body div.container main section.philosophy-values div div p.content {
  color: #5b6876;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 27px */
  padding-top: 24px;
  padding-bottom: 134px;
}
body div.container main section.philosophy-values div div a.link {
  color: #181823;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  border-bottom: 1px solid #8491a0;
  padding-bottom: 4px;
}
body div.container main section.philosophy-values img {
  height: 600px;
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
body div.container main section.philosophy-values img.img-1440 {
  display: block;
}
body div.container main section.philosophy-values img.img-768 {
  display: none;
}
@media screen and (max-width: 1000px) {
  body div.container main section.philosophy-values img.img-1440 {
    display: none;
  }
  body div.container main section.philosophy-values div div p.content {
    padding-bottom: 67px;
  }
  body div.container main section.philosophy-values img.img-768 {
    display: block;
  }
}
@media screen and (max-width: 536px) {
  body div.container main section.philosophy-values {
    display: block;
  }
  body div.container main section.philosophy-values div {
    max-width: 100%;
    height: 450px;
  }
  body div.container main section.philosophy-values div div p.content {
    padding-bottom: 90px;
  }
  body div.container main section.philosophy-values img {
    height: 450px;
    width: 100%;
  }
}
